@model RNN.Models.ViewModels.DisplayArticle
@using RNN.Models.ViewModels.ViewComponents

<div class="row row-equal opinion-header-row">
    <div class="col-xs-12 col-md-8 middle-column">
        <header>
            <h3>@Model.Article.HeadLine</h3>
            <p>@Model.Article.Paragraph</p>
        </header>
    </div>
    <div class="d-none d-sm-none d-md-block col-md-4 opinion-page-side-header">
        <h3>@Model.Article.EntryToTopics.First(et => et.IsPrimary == true).Topic.Name</h3>
        <section></section>
        <section></section>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8 middle-column">
        <article>
            @if (!String.IsNullOrEmpty(Model.Article.Url))
            {
                var host = new Uri(Model.Article.Url).Host;
                <p class="source">Sourced from <a href="@Model.Article.Url" target="_blank">@host</a></p>
            }

            <img src="~/images/uploads/@Model.Article.Img" />

            <div class="row">
                <div class="col-sm-12">
                    @Html.Raw(@Model.Article.Body)
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-4">
        <div class="row side-block">
            <div class="col-sm-12">
                <mark><span>Topics</span></mark>

                <div class="inner">
                    @foreach (var t in Model.Topics)
                    {
                        <div class="topic">@t.Name</div>
                    }
                </div>
            </div>
        </div>

        <div class="row side-block">
            <div class="col-sm-12">
                <mark><span>Enjoy our content?</span></mark>

                <div class="inner">
                    <p>We strive to provide a common-sense perspective of today's current events. If you, like us, love straight, unbiased news, please consider donating.</p>
                </div>
            </div>
        </div>

        <div class="row side-block">
            <div class="col-sm-12">
                <mark><span>Spread the word</span></mark>

                <div class="inner">
                    <div class="fb-like" data-href="https://www.renegadenews.net/article/@(Model.Article.Slug)" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>
                </div>
            </div>
        </div>

        @if (Model.Reccomendations.Any())
        {
            <div class="row side-block">

                <div class="col-sm-12">
                    <div class="text-block">
                        <mark><span>More like this</span></mark>
                    </div>
                </div>

                @foreach (var r in Model.Reccomendations)
                {
                    @await Component.InvokeAsync(typeof(ReccomendationBlockViewComponent), new { component = r })
                }
            </div>
        }
    </div>
</div>


<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
    //this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    this.callbacks.onIdentify = [function (id)
    {
        //alert(id);
        //alert(id);
    }];
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://rnn.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>