@model IEnumerable<RNN.Models.Entry>
@using RNN.Controllers

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.HeadLine)</th>
            <th>Rank</th>
            <th>Degraded</th>
            <th>Views</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HeadLine)</td>
                <td>@item.Rank</td>
                <td>@HomeController.RankHalfTime(item.Rank, item.Date)</td>
                <td>@item.PageViews</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
