@model IEnumerable<RNN.Models.Entry>
@using RNN.Controllers

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Manage Your Articles</h2>
        <p><a asp-action="Create">Create New</a></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th><b>Title</b></th>
            <th><b>Views</b></th>
            <th><b>Published</b></th>
            <th><b>Pinned</b></th>
            <th><b>Actions</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HeadLine</td>
                <td>@item.PageViews</td>
                <td>@item.IsPublished</td>
                <td>@item.IsPinned</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
