@model RNN.Models.ViewModels.ViewComponents.HorizontalLargeBlockViewComponent

@*<div class="row horizontal-large-block-row">*@
    <div class="col-sm-12 horizontal-large-block-column @(Model.HasBorder ? "block-border" : "")">
        <mark><span>@Model.Topic</span></mark>
        <div class="seperator"></div>
        <a asp-route="display" asp-route-slug="@Model.Slug">
            <div class="horizontal-large-block">
                <div class="row row-equal">
                    <div class="col-sm-8 left-column">
                        @*<img src="~/images/uploads/@Model.Img" alt="editorial">*@
                        <picture>
                            <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Img-medium.WebP">
                            <img class="article-img" src="~/images/uploads/@Model.Img-tiny.WebP" alt="">
                        </picture>
                    </div>
                    <div class="col-sm-4 right-column">
                        <div class="flex-container">
                            <header>
                                <span>@Model.HeadLine</span>
                            </header>

                            <section class="d-none d-sm-none d-md-none d-lg-block">@Model.Paragraph</section>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
@*</div>*@