@model RNN.Models.ViewModels.ViewComponents.HorizontalLargeBlockViewComponent

<a asp-route="display" asp-route-slug="@Model.Slug" style="width: 100%">
    <div class="horizontal-large-block">
        <div class="col-sm-12 horizontal-large-block-column @(Model.HasBorder ? "block-border" : "")">
            <header>
                <mark><span class="mark-span">@Model.Topic</span></mark><span>@Model.HeadLine</span>
            </header>

            <div class="seperator"></div>

            <div class="row">
                <div class="col-sm-8 left-column">
                    <picture>
                        <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Img-medium.WebP" type="image/webp">
                        <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Img-medium.Jpg" type="image/jpeg">
                        <source srcset="~/images/uploads/@Model.Img-tiny.WebP" type="image/webp">
                        <img class="article-img" src="~/images/uploads/@Model.Img-tiny.Jpg" alt="">
                    </picture>
                </div>
                <div class="col-sm-4 right-column">
                    <section>@Model.Paragraph</section>
                </div>
            </div>
        </div>
    </div>
</a>