@model IEnumerable<RNN.Models.EntryToTopic>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Entry)</th>
            <th>@Html.DisplayNameFor(model => model.Topic)</th>
            <th>@Html.DisplayNameFor(model => model.IsPrimary)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entry.HeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrimary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { entry = item.EntryId, topic = item.TopicId }) |
                @Html.ActionLink("Delete", "Delete", new { entry = item.EntryId, topic = item.TopicId })
            </td>
        </tr>
}
    </tbody>
</table>
