@model RNN.Models.ViewModels.ViewComponents.VerticalBlockViewComponent

<a asp-route="display" asp-route-slug="@Model.Slug" style="width: 100%">
    <div class="vertical-block">
        <div class="col-sm-12 vertical-block-column @(Model.HasBorder ? "block-border" : "")">
            <header><mark><span class="mark-span">@Model.Topic</span></mark><span>@Model.HeadLine</span></header>

            <div class="seperator"></div>

            <picture>
                <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Img-medium.WebP" type="image/webp">
                <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Img-medium.Jpg" type="image/jpeg">
                <source srcset="~/images/uploads/@Model.Img-tiny.WebP" type="image/webp">

                <img class="article-img" src="~/images/uploads/@Model.Img-tiny.Jpg" alt="">
            </picture>

            <section>@Model.Paragraph</section>
        </div>
    </div>
</a>
