@model RNN.Models.ViewModels.ViewComponents.VerticalNarrowBlockViewComponent

<a asp-route="display" asp-route-slug="@Model.Slug" style="width: 100%">
    <div class="vertical-narrow-block">
        <div class="col-sm-12 vertical-narrow-block-column @(Model.HasBorder ? "block-border" : "")">
            <header>
                <mark><span class="mark-span">@Model.Topic</span></mark><span>@Model.HeadLine</span>
            </header>

            <div class="seperator"></div>

            <picture>
                <source srcset="~/images/uploads/@Model.Img-tiny.WebP" type="image/webp">
                <img src="~/images/uploads/@Model.Img-tiny.Jpg" alt="">
            </picture>

            <section>
                <span>@Model.Paragraph</span>
            </section>
        </div>
    </div>
</a>

        
