@model RNN.Models.ViewModels.ViewComponents.HorizontalMediumBlockViewComponent

<div class="row horizontal-block-row">
    <div class="col-sm-12 horizontal-block-column">
        <div class="prefix">@Model.Title</div>
        <a asp-controller="@Model.Title" asp-action="Index" asp-route-id="@Model.Id">
            <div class="horizontal-block">
                <div class="row">
                    <div class="col-sm-6 left-column">
                        <img src="~/images/uploads/@Model.Img" alt="opinion" />
                    </div>
                    <div class="col-sm-6 right-column">
                        <header>
                            @if (Model.Topic != null) {
                                <span class="post-tag">@Model.Topic</span><span class="post-span-divider">/</span>
                            }
                            <span>@Model.HeadLine</span>
                        </header>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>