@model RNN.Models.ViewModels.Pages.DisplayArticle

@*@if ((bool)Model.ViewModelData["IsAuthor"])
    {
        <div class="row">
            <div class="col-sm-12">
                <a href="/entries/edit/@Model.Article.Id">Edit this article</a>
            </div>
        </div>
    }*@

<div class="row row-equal opinion-header-row">
    <div class="col-xs-12 col-md-8 middle-column">
        <header>
            <h1>@Model.Article.HeadLine</h1>
            <p>@Model.Article.Paragraph</p>
        </header>
    </div>
    <div class="d-none d-sm-none d-md-block col-md-4 opinion-page-side-header">
        <h3>@Model.Article.EntryToTopics.First(et => et.IsPrimary == true).Topic.Name</h3>
        <section></section>
        <section></section>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8 middle-column">
        <article>
            @if (!String.IsNullOrEmpty(Model.Article.Url))
            {
                var host = new Uri(Model.Article.Url).Host;
                <p class="source">Sourced from <a href="@Model.Article.Url" target="_blank">@host</a></p>
            }

            <!--
                        < 509    (small)      375
                576:    509      (medium)     510
                768:    449      (medium)     510
                992:    608      (large)      730
                1200:   729      (large)      730
            -->

            @*<img class="article-img" src="~/images/uploads/@Model.Article.Img" alt="article image" />*@
        <picture>
            <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Article.Img-large.WebP" type="image/webp">
            <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Article.Img-large.Jpg" type="image/jpeg">

            <source media="(min-width: 576px)" srcset="~/images/uploads/@Model.Article.Img-medium.WebP" type="image/webp">
            <source media="(min-width: 576px)" srcset="~/images/uploads/@Model.Article.Img-medium.Jpg" type="image/jpeg">

            <source srcset="~/images/uploads/@Model.Article.Img-tiny.WebP" type="image/webp">
            <source srcset="~/images/uploads/@Model.Article.Img-tiny.Jpg" type="image/jpeg">

            <img class="article-img" src="~/images/uploads/@Model.Article.Img-tiny.Jpg" alt="">
        </picture>

            <div class="row">
                <div class="col-sm-12">
                    @Html.Raw(@Model.Article.Body)
                </div>
            </div>

            <div class="row comments">
                <div class="col-md-12">
                    <button id="show-comments" class="btn">Load Comments</button>
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-4">
        <div class="row side-block">
            <div class="col-sm-12">
                <mark><span>Topics</span></mark>

                <div class="inner">
                    @foreach (var t in Model.Topics)
                    {
                        <div class="topic">@t.Name</div>
                    }
                </div>
            </div>
        </div>

        <div class="row side-block">
                <div class="col-sm-12">
                    <mark><span>Enjoy our content?</span></mark>

                    <div class="inner">
                        <p>If you love straight, unbiased news, subscribe to our newsletter below.</p>
                    
                        <input placeholder="Subscribe with your email" class="newsletter" type="email" id="email-input" /><button id="add-email" class="btn" value="Add">Sign Me Up!</button>
                    </div>
                </div>
        </div>

        <div class="row side-block">
            <div class="col-sm-12">
                <mark><span>Spread the word</span></mark>

                <div class="inner">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a>
                </div>
            </div>
        </div>

        <div class="row side-block">

            <div class="col-sm-12">
                <div class="text-block">
                    <mark><span>More like this</span></mark>
                </div>
            </div>

            <div id="reccomendations"></div>
        </div>
    </div>
</div>

<script defer>
    (function () {
        var getReccomendationsAsync = new XMLHttpRequest();
        getReccomendationsAsync.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("reccomendations").innerHTML = this.responseText;
            }
        };
        getReccomendationsAsync.open("GET", "/article/@Model.Article.Id/reccomendations", true);
        getReccomendationsAsync.send();

        var button = document.getElementById("add-email");
        button.onclick = function () {
            var value = document.getElementById("email-input").value;

            if (value == null || value == "" || !isEmail(value)) {

                document.getElementById("email-input").style.borderColor = "red";
                return;
            }

            var message = { "Email": value };

            var addNewsletterRequestAsync = new XMLHttpRequest();
            addNewsletterRequestAsync.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert("Subscribed!");
                }
            };
            addNewsletterRequestAsync.open("POST", "/newsletter/add", true);
            addNewsletterRequestAsync.setRequestHeader("Content-Type", "application/json");
            addNewsletterRequestAsync.send(JSON.stringify(message));
        }

        var increasePageViews = new XMLHttpRequest();
        increasePageViews.open("PUT", "/article/@Model.Article.Id/viewed", true);
        increasePageViews.send();
    })();

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

</script>
