@model IEnumerable<RNN.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-6">
        @foreach(var post in Model) {
            <div class="row">
                <div class="col-sm-12">
                    <a href="@post.Url">@post.Title</a>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6">

    </div>
</div>


@*<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @foreach(var topic in item.PostToTopic) {
                    <span>@topic.Topic.Name</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
